# Test

In [ ]:
print("Hello Python")

Hello Python

# Data Type

### Int

In [ ]:
a = 3
print(a)

3

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
b = -3

In [ ]:
print(type(b))

<class 'int'>

### Float

In [ ]:
b = 3.5
print(b)

3.5

In [ ]:
print(type(b))

<class 'float'>

In [ ]:
c = 3.0
print(type(c))

<class 'float'>

In [ ]:
d = -3.5
print(type(c))

<class 'float'>

### string

In [ ]:
a = 'I like cats'
b = "I dont like dog"

In [ ]:
print(type(a))

<class 'str'>

In [ ]:
print(type(b))

<class 'str'>

In [ ]:
b = 'I don't like dog'

SyntaxError: unterminated string literal (detected at line 1) (<ipython-input-13-cc79ed0c209c>, line 1)

In [ ]:
# "\" can be used as an escape character:
b = 'I don\'t like dog'
print(b)

I don't like dog

In [ ]:
b = "I don't like dog"
print(b)

I don't like dog

In [ ]:
c = "I like cats.I dont like dogs."
print(c)

I like cats.I dont like dogs.

In [ ]:
c = "I like cats.\nI dont like dogs."
print(c)

I like cats.
I dont like dogs.

In [ ]:
c = "I like cats.\tI dont like dogs."
print(c)

I like cats.	I dont like dogs.

In [ ]:
c = "I like "cats""
print(c)

SyntaxError: invalid syntax (<ipython-input-19-cdbf2495b761>, line 1)

In [ ]:
c = "I like \"cats\""
print(c)

I like "cats"

### Bool

In [ ]:
a = True
b = False

print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

### None

In [ ]:
a = None
print(type(a))

<class 'NoneType'>

In [ ]:
#In dataset we have columns of different types (kyc) (name (str), age (int), height (float), verified (bool))

# Rules and Best Practices for Naming Variables in Python

---

## **Rules (Mandatory)**
1. **Start with a letter or an underscore**:  
   Variable names must begin with a letter (a-z, A-Z) or an underscore (`_`).  
   - ✅ Valid: `name`, `_age`
   - ❌ Invalid: `1name`, `-value`

2. **Contain only letters, numbers, and underscores**:  
   Variable names can include letters, numbers, and underscores, but no special characters or spaces.  
   - ✅ Valid: `user_name`, `age2`
   - ❌ Invalid: `user-name`, `age!`

3. **Cannot be a Python keyword**:  
   Reserved words (e.g., `if`, `while`, `return`) cannot be used as variable names.  
   - ❌ Invalid: `if`, `class`

4. **Case-sensitive**:  
   Python distinguishes between uppercase and lowercase letters.  
   - Example: `Name` and `name` are two different variables.

---

## **Best Practices (Recommended)**
1. **Use descriptive names**:  
   Choose meaningful names that describe the variable's purpose.  
   - ✅ Good: `total_cost`, `user_age`
   - ❌ Bad: `x`, `a1`

2. **Follow snake_case convention**:  
   Use lowercase letters and underscores to separate words.  
   - ✅ Good: `user_name`, `max_value`
   - ❌ Bad: `userName` (camelCase, used in other languages)

3. **Avoid starting with underscores unless necessary**:  
   Names starting with `_` have special meanings (e.g., `_private_var`). Use them only for internal purposes.

4. **Be consistent**:  
   Stick to one naming style (e.g., always use `snake_case`).

5. **Use singular or plural forms appropriately**:  
   Use singular names for single items and plural for collections.  
   - Example: `user` for one user, `users` for a list of users.

6. **Avoid single-letter names (except for loops)**:  
   Single-character names like `x`, `y`, or `i` are acceptable only in short loops. Use descriptive names elsewhere.  
   - ✅ Good: `for index in range(5):`
   - ❌ Bad: `for i in range(5):`

7. **Avoid using built-in function names**:  
   Don’t name variables after Python's built-in functions like `list`, `str`, `input`.  
   - ❌ Invalid: `list = [1, 2, 3]`

8. **Use constants for fixed values**:  
   Variables that don't change should be written in uppercase with underscores.  
   - Example: `PI = 3.14`, `MAX_USERS = 100`

---

# Operators

### "+" addition

In [ ]:
a = 3 # int
aa = 4
print(a,aa)

3 4

In [ ]:
a + aa # 3 + 4

7

In [ ]:
a + a + aa # 3 + 3 + 4

10

In [ ]:
b = 4.5 # float
bb = 4.7

In [ ]:
b + bb # 4.5 + 4.7

9.2

In [ ]:
a + aa + b + bb #  3 + 4 + 4.5 + 4.7

16.2

In [ ]:
c = "hello" # string
cc = "world"

In [ ]:
c + a # "hello" + 3 = error

TypeError: can only concatenate str (not "int") to str

In [ ]:
c + cc # "hello" + "world"

'helloworld'

In [ ]:
c + c + cc # "hello" + "hello" + "world"

'hellohelloworld'

In [ ]:
cc = "4"
print(type(cc))

<class 'str'>

In [ ]:
c + cc # "hello" + "4"

'hello4'

In [ ]:
d = True
dd = False
d + a # True + 3

4

In [ ]:
d + d # True + True

2

In [ ]:
dd + a # False + 3

3

In [ ]:
dd + dd # False + False

0

In [ ]:
e = None

e + e # None + None

TypeError: unsupported operand type(s) for +: 'NoneType' and 'NoneType'

In [ ]:
e + a # None + 3

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

### "-" subtraction

In [ ]:
a = 3 # int
aa = 4
print(a,aa)

3 4

In [ ]:
a - aa # 3 - 4

-1

In [ ]:
aa - a # 4 - 3

1

In [ ]:
b = 4.5 # float

In [ ]:
a - aa - b # 3 - 4 - 4.5

-5.5

In [ ]:
a = -3
b = 4
bb = -4.5

In [ ]:
a - b # -3 - 4

-7

In [ ]:
a - bb # -3 - (-4.5)

1.5

In [ ]:
c = "hello" # string

In [ ]:
c - c

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
d = True
dd = False
d - a # True - (-3)

4

In [ ]:
dd - a # False - (-3)

3

### "*" multiplication

In [ ]:
a = 3

In [ ]:
a * a # 3 * 3

9

In [ ]:
aa = -3
a * aa # 3 * -3

-9

In [ ]:
aa * aa # -3 * -3

9

In [ ]:
b = 3.5

In [ ]:
a * b # 3 * 3.5

10.5

In [ ]:
s = "abc"

In [ ]:
s * s # "abc" * "abc"

TypeError: can't multiply sequence by non-int of type 'str'

In [ ]:
s * a # "abc" * 3

'abcabcabc'

In [ ]:
s * 3.5 # "abc" * 3.5

TypeError: can't multiply sequence by non-int of type 'float'

In [ ]:
d = True
dd = False
d * dd # True * False

0

In [ ]:
d * d # True * True

1

### "/" divison

In [ ]:
a = 3
b = 2

In [ ]:
a / a # 3 / 3

1.0

In [ ]:
a / b # 3 / 2

1.5

In [ ]:
b = -2
a / b # 3 / -2

-1.5

In [ ]:
s = "hello"
s / a # "hello" / 3

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [ ]:
s / s # "hello" / "hello"

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [ ]:
d = True
dd = False
d / dd # True / False

ZeroDivisionError: division by zero

In [ ]:
d / d # True / True

1.0

### "%" modulus

In [ ]:
a = 3
b = 2

In [ ]:
a % a # 3 % 3

0

In [ ]:
a % b # 3 % 2

1

### "**" exponential

In [ ]:
a = 3
b = 3

In [ ]:
a * a * a # 3 * 3 * 3

27

In [ ]:
a ** b # 3 ** 3

27

In [ ]:
a ** 100

515377520732011331036461129765621272702107522001

In [ ]:
# In dataset we perform columns manipulation (rental dataset) (location coordinates, nearest_station coordinates)
# calculate distance between location coordinates and nearest_station coordinates

# String variable more

### Printing strings with variables

In [ ]:
a = 5
b = 3

print("value of a is a")
print("value of b is b")

print(f"value of a is {a}")
print(f"value of b is {b}")

value of a is a
value of b is b
value of a is 5
value of b is 3

In [ ]:
a = 5
b = 3

print(f"Addition for {a} and {b} is {a + b}")
print(f"Subtraction for {a} and {b} is {a - b}")
print(f"Multiplication for {a} and {b} is {a * b}")
print(f"Division for {a} and {b} is {a / b}")
print(f"Modulo for {a} and {b} is {a % b}")
print(f"Exponential for {a} and {b} is {a ** b}")

Addition for 5 and 3 is 8
Subtraction for 5 and 3 is 2
Multiplication for 5 and 3 is 15
Division for 5 and 3 is 1.6666666666666667
Modulo for 5 and 3 is 2
Exponential for 5 and 3 is 125

In [ ]:
a = 5
b = 3

print("Addition for {} and {} is {}".format(a, b, a + b))
print("Subtraction for {} and {} is {}".format(a, b, a - b))
print("Multiplication for {} and {} is {}".format(a, b, a * b))
print("Division for {} and {} is {}".format(a, b, a / b))
print("Modulo for {} and {} is {}".format(a, b, a % b))
print("Exponential for {} and {} is {}".format(a, b, a ** b))

Addition for 5 and 3 is 8
Subtraction for 5 and 3 is 2
Multiplication for 5 and 3 is 15
Division for 5 and 3 is 1.6666666666666667
Modulo for 5 and 3 is 2
Exponential for 5 and 3 is 125

### Built in string functions

#### len

In [ ]:
s = "hello"

print(len(s))

5

In [ ]:
s1 = "hello "
print(len(s1))

6

#### replace

In [ ]:
s = "hello"

print(s.replace("h", "H"))

Hello

In [ ]:
print(s.replace("l", "L"))

heLLo

In [ ]:
s1 = "hello world"

# Convert to uppercase
print("Uppercase:", s1.upper())

# Convert to lowercase
print("Lowercase:", s1.lower())

# Capitalize the first character
print("Capitalize:", s1.capitalize())

# Title case (capitalize each word)
print("Title Case:", s1.title())

# Find the position of a substring
print("Position of 'world':", s1.find("world"))

# Replace a substring
print("Replace 'world' with 'Python':", s1.replace("world", "Python"))

# Check if string starts with "hello"
print("Starts with 'hello':", s1.startswith("hello"))

# Check if string ends with "world"
print("Ends with 'world':", s1.endswith("world"))

# Count occurrences of 'l'
print("Count of 'l':", s1.count("l"))

Uppercase: HELLO WORLD
Lowercase: hello world
Capitalize: Hello world
Title Case: Hello World
Position of 'world': 6
Replace 'world' with 'Python': hello Python
Starts with 'hello': True
Ends with 'world': True
Count of 'l': 3

In [ ]:
# In most dataset you will find string columns for eg movie reviews
# so there you will use above string manipulations and built in functions

### Assignment

In [ ]:
# 1. print "hello worLd" 100 times
# 2. on output of 1, count number or occurance of "l" (small "l", capital "L", and all "l" + "L")
# 3. on output of 1, replace small case with upper and vice versa (try using some inbuilt string function)

In [ ]:
# Find square root and cube root of any number using ** operator

In [ ]:
# Difference between "/" and "//" operator

# Comparison operators

### "==" euqal to

In [ ]:
3 == 3

True

In [ ]:
4 == 3

False

In [ ]:
a = 3
b = "3"

a == b # 3 == "3"

False

In [ ]:
3 == 3.0

True

In [ ]:
True == 1 # 1 == 1

True

In [ ]:
None == None

True

### "!=" not equal to

In [ ]:
a = 3
b = 4

a != b # 3 != 4

True

In [ ]:
False != 0 # 0 != 0

False

### ">" greater than and ">=" greater than or equal to

In [ ]:
a = 3
b = 4

a > 3 # 3 > 3

False

In [ ]:
b > a # 4 > 3

True

In [ ]:
a >= 3 # 3 >= 3

True

### "<" less than and "<=" less than or equal to

In [ ]:
a = 3
b = 4

a < 3 # 3 > 3

False

In [ ]:
a < b # 3 < 4

True

In [ ]:
b <= 4 # 4 >= 4

True

# Logical Operators

### "and"

In [ ]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [ ]:
a = 3
b = 4

print(a < b and a < 5)
print(a < b and a > 5)
print(a > b and a < 5)
print(a > b and a > 5)

True
False
False
False

In [ ]:
print(1 and 1)
print(1 and 0)
print(0 and 1)
print(0 and 0)

1
0
0
0

In [ ]:
a = 1
b = 0

print(a and b)

0

"or"

In [ ]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [ ]:
a = 3
b = 4

print(a < b or a < 5)
print(a < b or a > 5)
print(a > b or a < 5)
print(a > b or a > 5)

True
True
True
False

In [ ]:
print(1 or 1)
print(1 or 0)
print(0 or 1)
print(0 or 0)

1
1
1
0

In [ ]:
a = 1
b = 0

print(a or b)

1

"not"

In [ ]:
a = 1
b = 0

print(not a)
print(not b)

False
True

In [ ]:
a = True
b = False

print(not a)
print(not b)

False
True

### Assignment

In [ ]:
#1. Use Logical operator to find bigger number from given two numbers a = 3, b = 5 (dont use if else)

# Conditional Statements (if-else)

In [ ]:
x = 10
if x > 5:
    print("x is greater than 5")

x is greater than 5

In [ ]:
x = 3
if x > 5:
    print("x is greater than 5")
else:
    print("x is less than or equal to 5")

x is less than or equal to 5

In [ ]:
x = 7
if x > 10:
    print("x is greater than 10")
elif x == 7:
    print("x is equal to 7")
else:
    print("x is less than 10 and not equal to 7")

x is equal to 7

In [ ]:
x = 15
if x > 10:
    if x < 20:
        print("x is between 10 and 20")
    else:
        print("x is greater than or equal to 20")
else:
    print("x is less than or equal to 10")

x is between 10 and 20

In [ ]:
x = 8
if x > 5 and x < 10:
    print("x is between 5 and 10")

x = 3
if x < 5 or x > 10:
    print("x is either less than 5 or greater than 10")

x is between 5 and 10
x is either less than 5 or greater than 10

In [ ]:
is_logged_in = False
if not is_logged_in:
    print("User is not logged in")

User is not logged in

In [ ]:
x = 5
y = 10
if x < y:
    print("x is less than y")

x is less than y

In [ ]:
x = 4
y = 8
if x < 10 and y > 5:
    print("x is less than 10 and y is greater than 5")

x is less than 10 and y is greater than 5

In [ ]:
# Mostly use for data analysis for eg analyzing age groups into bins (1-10, 11-20, etc)

### Assignment

In [ ]:
# Using two variables find biggest among them, use a=3,b=-10 (use Conditional Statements)
# Using two variables a and b find if a is divisible by b, if not then print remainder (use Conditional Statements)

# Loop

### "for"

In [ ]:
for i in range(5):  # Iterates from 0 to 4
    print(i)

0
1
2
3
4

In [ ]:
for i in range(1, 10, 2):  # Iterates from 1 to 9 with a step of 2
    print(i)

1
3
5
7
9

In [ ]:
name = "Python"
for char in name:
    print(char)

P
y
t
h
o
n

In [ ]:
for i in range(5):
    if i == 3:
        print("Breaking loop at", i)
        break
    print(i)

0
1
2
Breaking loop at 3

### "while"

In [ ]:
count = 0
while count < 5:
    print(count)
    count += 1  # Increment count

0
1
2
3
4

In [ ]:
count = 0
while count < 3:
    print(count)
    count += 1
else:
    print("Loop finished")

0
1
2
Loop finished

In [ ]:
count = 0
while True:
    print(count)
    count += 1
    if count == 5:
        print("Breaking loop")
        break

0
1
2
3
4
Breaking loop

In [ ]:
# Mostly use for iterating the dataset rows and performing some manipulation

# Functions

In [ ]:
def greet():
    print("Hello, world!")

greet()

Hello, world!

In [ ]:
def greet(name):
    print(f"Hello, {name}!")

greet("Alice")

Hello, Alice!

In [ ]:
def add(a, b):
    return a + b

result = add(5, 3)
print("Sum:", result)

Sum: 8

In [ ]:
def greet(name="Guest"):
    print(f"Hello, {name}!")

greet()  # Uses default value
greet("Alice")  # Overrides default value

Hello, Guest!
Hello, Alice!

In [ ]:
def math_operations(a, b):
    return a + b, a - b, a * b, a / b

addition, subtraction, multiplication, division = math_operations(10, 2)
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)

Addition: 12
Subtraction: 8
Multiplication: 20
Division: 5.0

In [ ]:
def add_numbers(*args):
    return sum(args)

print("Sum:", add_numbers(1, 2, 3, 4, 5))

Sum: 15

In [ ]:
def print_details(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

print_details(name="Alice", age=25, city="New York")

name: Alice
age: 25
city: New York

In [ ]:
# Mostly use for organising code and improving redability

# Modules

In [ ]:
import math

# Using functions from the math module
print("Square root of 16:", math.sqrt(16))
print("Value of pi:", math.pi)

Square root of 16: 4.0
Value of pi: 3.141592653589793

In [ ]:
from math import sqrt, pi

print("Square root of 25:", sqrt(25))
print("Value of pi:", pi)

Square root of 25: 5.0
Value of pi: 3.141592653589793

In [ ]:
%%writefile math_operations.py
def add(a, b):
    return a + b

def subtract(a, b):
    return a - b

def multiply(a, b):
    return a * b

Overwriting math_operations.py

In [ ]:
import math_operations

result = math_operations.add(5, 3)
print("Sum:", result)

result = math_operations.subtract(10, 2)
print("Difference:", result)

result = math_operations.multiply(4, 6)
print("Product:", result)

Sum: 8
Difference: 8
Product: 24

In [ ]:
# Used for calling different machine learning modules or any module

# lambda function

In [ ]:
add = lambda x, y: x + y
print(add(5, 3))  # Output: 8

8

In [ ]:
greet = lambda: "Hello, World!"
print(greet())  # Output: Hello, World!

Hello, World!

In [ ]:
# Mostly use with map and filter or writing small functions