# The Numpy array object

# NumPy Arrays

In [1]:
import numpy as np
a = np.array([0, 1, 2, 3])
print(a)

print(np.arange(10))

[0 1 2 3]
[0 1 2 3 4 5 6 7 8 9]

# 1. Creating arrays

** 1.1.  Manual Construction of arrays**

In [6]:
#1-D

a = np.array([0, 1, 2, 3])

a

array([0, 1, 2, 3])

In [7]:
#print dimensions

a.ndim

1

In [8]:
#shape

a.shape

(4,)

In [9]:
len(a)

4

In [10]:
# 2-D, 3-D....

b = np.array([[0, 1, 2], [3, 4, 5]])

b

array([[0, 1, 2],
       [3, 4, 5]])

In [11]:
b.ndim

2

In [12]:
b.shape

(2, 3)

In [13]:
len(b) #returns the size of the first dimention

2

** 1.2  Functions for creating arrays**

In [17]:
#using arrange function

# arange is an array-valued version of the built-in Python range function

a = np.arange(10) # 0.... n-1
a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [18]:
b = np.arange(1, 10, 2) #start, end (exclusive), step

b

array([1, 3, 5, 7, 9])

In [19]:
#using linspace

a = np.linspace(0, 1, 6) #start, end, number of points

a

array([0. , 0.2, 0.4, 0.6, 0.8, 1. ])

In [20]:
#common arrays

a = np.ones((3, 3))

a

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [21]:
b = np.zeros((3, 3))

b

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [22]:
c = np.eye(3)  #Return a 2-D array with ones on the diagonal and zeros elsewhere.

c

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [23]:
d = np.eye(3, 2) #3 is number of rows, 2 is number of columns, index of diagonal start with 0

d

array([[1., 0.],
       [0., 1.],
       [0., 0.]])

In [24]:
#create array using diag function

a = np.diag([1, 2, 3, 4]) #construct a diagonal array.

a

array([[1, 0, 0, 0],
       [0, 2, 0, 0],
       [0, 0, 3, 0],
       [0, 0, 0, 4]])

In [25]:
np.diag(a)   #Extract diagonal

array([1, 2, 3, 4])

In [26]:
#create array using random

#Create an array of the given shape and populate it with random samples from a uniform distribution over [0, 1).
a = np.random.rand(4)

a

array([0.29181116, 0.23679159, 0.53079309, 0.70714738])

In [27]:
a = np.random.randn(4)#Return a sample (or samples) from the “standard normal” distribution.  ***Gausian***

a

array([ 1.14127245,  1.70779562, -1.05629155, -1.1072947 ])

# 2. Basic DataTypes

You may have noticed that, in some instances, array elements are displayed with a **trailing dot (e.g. 2. vs 2)**. This is due to a difference in the **data-type** used:

In [28]:
a = np.arange(10)

a.dtype

dtype('int64')

In [29]:
#You can explicitly specify which data-type you want:

a = np.arange(10, dtype='float64')
a

array([0., 1., 2., 3., 4., 5., 6., 7., 8., 9.])

In [30]:
#The default data type is float for zeros and ones function

a = np.zeros((3, 3))

print(a)

a.dtype

[[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

dtype('float64')

**other datatypes**

In [31]:
d = np.array([1+2j, 2+4j])   #Complex datatype

print(d.dtype)

complex128

In [32]:
b = np.array([True, False, True, False])  #Boolean datatype

print(b.dtype)

bool

# 3. Indexing and Slicing

**3.1 Indexing**

The items of an array can be accessed and assigned to the same way as other **Python sequences (e.g. lists)**:

In [36]:
a = np.arange(10)
print(a)
print(a[5])  #indices begin at 0, like other Python sequences (and C/C++)

[0 1 2 3 4 5 6 7 8 9]
5

In [37]:
# For multidimensional arrays, indexes are tuples of integers:

a = np.diag([1, 2, 3])
print(a)
print(a[2, 2])

[[1 0 0]
 [0 2 0]
 [0 0 3]]
3

In [38]:
a[2, 1] = 5 #assigning value

a

array([[1, 0, 0],
       [0, 2, 0],
       [0, 5, 3]])

**3.2 Slicing**

In [39]:
a = np.arange(10)

a

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [40]:
a[1:8:2] # [startindex: endindex(exclusive) : step]

array([1, 3, 5, 7])

In [41]:
#we can also combine assignment and slicing:

a = np.arange(10)
print(a)
a[5:] = 10
a

[0 1 2 3 4 5 6 7 8 9]

array([ 0,  1,  2,  3,  4, 10, 10, 10, 10, 10])

In [42]:
b = np.arange(5)
print(b)
a[5:] = b[::-1]  #assigning

a

[0 1 2 3 4]

array([0, 1, 2, 3, 4, 4, 3, 2, 1, 0])

# 4. Fancy Indexing

NumPy arrays can be indexed with slices, but also with boolean or integer arrays **(masks)**. This method is called **fancy indexing**. It creates copies not views.

**Using Boolean Mask**

In [43]:
a = np.random.randint(0, 20, 15)
a

array([ 0,  2, 10, 19, 16, 11,  7,  4, 18, 11,  7,  7, 16,  3, 14])

In [44]:
mask = (a % 2 == 0)

In [45]:
extract_from_a = a[mask]

extract_from_a

array([ 0,  2, 10, 16,  4, 18, 16, 14])

**Indexing with a mask can be very useful to assign a new value to a sub-array:**

In [46]:
a[mask] = -1
a

array([-1, -1, -1, 19, -1, 11,  7, -1, -1, 11,  7,  7, -1,  3, -1])

**Indexing with an array of integers**

In [47]:
a = np.arange(0, 100, 10)

a

array([ 0, 10, 20, 30, 40, 50, 60, 70, 80, 90])

In [48]:
#Indexing can be done with an array of integers, where the same index is repeated several time:

a[[2, 3, 2, 4, 2]]

array([20, 30, 20, 40, 20])

In [49]:
# New values can be assigned

a[[9, 7]] = -200

a

array([   0,   10,   20,   30,   40,   50,   60, -200,   80, -200])